<section class="property-binding">
    <!-- <article>
        <h3>Interpolation</h3>
        <p>String rendered with interpolation: {{ url }}</p>
        <p>Result of 1 + 1 is: {{ 1 + 1 }}</p>
        <p>Result of 1 + 1 is not: {{ 1 + 1 + getValor() }}</p>
    </article>

    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImage }}" alt="alternative text">
        <img [src]="urlImage" alt="alternative text">
        <img bind-src="urlImage" alt="alternative text">
    </article> -->

    <h2>Aula 10</h2>
    <label for="angularLoiane">Curso Loiane no youtube</label>
    <article>
        <h3>Class and Style Binding</h3>
        <div>
            Select a Class:
            <select #classSelected (change)="0">
                <option value="alert-success">Success</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Warning</option>
                <option value="alert-danger">Danger</option>
            </select>
            <br><br>

            <div class="alert {{ classSelected.value }}" role="alert">
                Text colorize equal by value combobox
            </div>

            <div class="alert" role="alert"
                [class.alert-success]="classSelected.value == 'alert-success'">Success</div>
            <div class="alert" role="alert"
                [class.alert-info]="classSelected.value == 'alert-info'">Info</div>
            <div class="alert" role="alert"
                [class.alert-warning]="classSelected.value == 'alert-warning'">Warning</div>
            <div class="alert" role="alert"
                [class.alert-danger]="classSelected.value == 'alert-danger'">Danger</div>

            <div class="alert alert-danger" role="alert"
                [style.display]="classSelected.value == 'alert-danger' ? 'block' : 'none'">
                This text show only when error case
            </div>
        </div>
    </article>
</section>